
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<div id="myCarousel" class="carousel slide  animated fadeIn" data-ride="carousel" data-interval="6000" style="height:85vh;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/nsb.jpg" alt="Jitsu South Africa" class="img-responsive" />
            <div class="carousel-caption">
                <h1> Jitsu </h1>
                <p> The gentle way </p>
            </div>
        </div>
        <div class="item">
            <img src="https://static.pexels.com/photos/36776/fitness-strength-strong-male-large.jpg" alt="Jitsu South Africa" class="img-responsive" />
            <div class="carousel-caption">
                <h1> Lorem Ipsum </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam ut viverra dolor. Maecenas auctor urna at maximus volutpat.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/small.jpg" alt="Jitsu South Africa" />
            <div class="carousel-caption">
                <h1> Lorem Ipsum </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam ut viverra dolor. Maecenas auctor urna at maximus volutpat.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/small.jpg" alt="Jitsu South Africa" />
            <div class="carousel-caption">
                <h1> Lorem Ipsum </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam ut viverra dolor. Maecenas auctor urna at maximus volutpat.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="whatIsJitsu" class="row blocks block-cover" style="background: url('../images/1.jpg') center no-repeat">
    <div class="blocks-header">
        <h1>What is Jitsu?</h1>
    </div>

    <div class="blocks-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam ut viverra dolor. Maecenas auctor urna at maximus volutpat.
            Donec pharetra ante mi, vitae hendrerit neque iaculis eleifend.
            Praesent non nibh vitae libero mattis semper et nec velit.
            Etiam at volutpat urna. Donec consectetur consectetur elit at venenatis.
            Etiam ut rutrum nulla, vitae blandit lacus.
            Nunc sit amet nisi consequat, auctor nulla sed, tempor nulla.
            Quisque at felis at justo iaculis sagittis et non tortor.
            Pellentesque at sapien non lectus porttitor consequat sit amet sed tortor.
            Maecenas a mauris purus. Praesent pellentesque varius justo, et volutpat sem.
            Pellentesque dapibus ullamcorper leo, vel faucibus mauris commodo nec.
            Etiam pharetra massa rutrum nisi molestie interdum. Etiam tincidunt erat quis elementum vehicula.
        </p>
    </div>
</div>

<div id="whyDoJitsu" class="row blocks block-cover" style="background: url('../images/2.jpg') center no-repeat">
    <div class="blocks-header">
        <h1>Why do Jitsu?</h1>
    </div>
    <iframe width="60%" height="100%" src="https://www.youtube.com/embed/GXO9FrZ1N9s" frameborder="0" allowfullscreen></iframe>
    <div class="blocks-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam ut viverra dolor. Maecenas auctor urna at maximus volutpat.
            Donec pharetra ante mi, vitae hendrerit neque iaculis eleifend.
            Praesent non nibh vitae libero mattis semper et nec velit.
            Etiam at volutpat urna. Donec consectetur consectetur elit at venenatis.
            Etiam ut rutrum nulla, vitae blandit lacus.
            Nunc sit amet nisi consequat, auctor nulla sed, tempor nulla.
            Quisque at felis at justo iaculis sagittis et non tortor.
            Pellentesque at sapien non lectus porttitor consequat sit amet sed tortor.
            Maecenas a mauris purus. Praesent pellentesque varius justo, et volutpat sem.
            Pellentesque dapibus ullamcorper leo, vel faucibus mauris commodo nec.
            Etiam pharetra massa rutrum nisi molestie interdum. Etiam tincidunt erat quis elementum vehicula.
        </p>
    </div>
</div>

<div id="instructors" class="row blocks block-cover" style="background: url('../images/3.jpg') center no-repeat" >
    <div class="blocks-header">
        <h1>Instructors</h1>
    </div>

    <div class="blocks-content">
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a venenatis ipsum. Donec iaculis turpis eu leo porta, ac sollicitudin magna tristique. Nullam nec porta eros. Mauris faucibus mollis mauris nec scelerisque. Integer dapibus ipsum ligula, sed vestibulum erat auctor sit amet. Etiam purus felis, eleifend eget felis at, volutpat mattis quam. Aenean quis mi id erat viverra pulvinar. Pellentesque cursus, lorem et rutrum tempor, elit ex sagittis erat, quis fringilla eros libero sed lacus. Cras ornare faucibus diam, sit amet vehicula est. Cras vitae convallis urna. Duis congue volutpat fermentum. Mauris mattis odio felis, at rutrum mauris interdum vitae. Phasellus in leo ac leo laoreet facilisis vel a mauris. Vivamus accumsan in metus at accumsan. Donec sit amet tempus eros.
        </p>
    </div>
</div>

<div id="trainingTimes" class="row blocks block-cover" style="background: url('../images/4.jpg')">
    <div class="blocks-header">
        <h1>Training Times</h1>
    </div>

    <div class="blocks-content">
        <p>
            Currently only the Pretoria club is active
        </p>
        <p>
           <b>Training Times: </b>
           <br/>
           Mondays:     18:30 - 20:30
           <br/>
           Wednesdays:  18:30 - 20:30
        </p>

        <p>
           <b>Location: </b>
           <br/>
           Colbyn Scout Hall
           <br/>
           Kilnerton Road, Pretoria, Gauteng
           <br/>
           Directions: <a href="https://goo.gl/maps/cpp2CmoicJk"> Colbyn Scout Hall </a>
           <br/>
           The entrance to the scout hall is next to the bowling club. Just follow the dirt road.
        </p>
    </div>
</div>

<div id="jitsuFoundation" class="row blocks block-cover" style="background: url('../images/3.jpg') center no-repeat" >
    <div class="blocks-header">
        <h1>Jitsu Foundation & Clubs</h1>
    </div>

    <div class="blocks-content">
        <p>
            <a href="http://www.jitsufoundation.org/"> Jitsu Foundation </a>
            <br/>
            <a href="http://www.jitsucanada.com/"> Jitsu Canada </a>
            <br/>
            <a href="http://www.jitsufoundationusa.com/"> Jitsu USA </a>

        </p>
    </div>
</div>

<div id="contactUs" class="row blocks block-cover" style="background: url('../images/3.jpg') center no-repeat" >
    <div class="blocks-header">
        <h1>Contact Us</h1>
    </div>

    <div class="blocks-content">
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a venenatis ipsum. Donec iaculis turpis eu leo porta, ac sollicitudin magna tristique. Nullam nec porta eros. Mauris faucibus mollis mauris nec scelerisque. Integer dapibus ipsum ligula, sed vestibulum erat auctor sit amet. Etiam purus felis, eleifend eget felis at, volutpat mattis quam. Aenean quis mi id erat viverra pulvinar. Pellentesque cursus, lorem et rutrum tempor, elit ex sagittis erat, quis fringilla eros libero sed lacus. Cras ornare faucibus diam, sit amet vehicula est. Cras vitae convallis urna. Duis congue volutpat fermentum. Mauris mattis odio felis, at rutrum mauris interdum vitae. Phasellus in leo ac leo laoreet facilisis vel a mauris. Vivamus accumsan in metus at accumsan. Donec sit amet tempus eros.
        </p>
    </div>
</div>
